<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div ng-controller = "CustomizeUsersController">
    <table>
      <tr>

        <th><a href = "" ng-click = "sortBy('users.first_name')">First Name </a></th>
        <th>Last Name</th>
        <th>Fav language</th>
      </tr>

      <tr ng-repeat = "users in alluser | orderBy:propertyName:reverse">
        <td>{{users.first_name}}</td>
        <td>{{users.last_name}}</td>
        <td>{{users.favorite_language}}</td>
    </table>
  </div>
  </body>
</html>
